number-dials {

  .number-group {
    text-align: center;
    margin-top: $number-fontsize;

    .number-dial {
      display: inline-block;
      margin: 1em;

      .number-unit {
        width: 32px;

        .increment, .decrement {
          text-align: center;
          color: darken($color-bkgd, 20%);
        }

        .increment:active, .decrement:active {
          color: $color-fore;
        }

        .increment.disabled:active, .decrement.disabled:active {
          color: $color-warning;
        }

        .value {
          text-align: center;
        }
      }

      .number-unit .value, .delimiter {
        font-family: 'ItimRegular';
        font-size: $number-fontsize;
      }

      .number-unit, .delimiter {
        display: inline-block;
      }

      .delimiter {
        position: relative;
        top: -0.5em;
      }
    }
  }

  .controls {
    margin-top: 2em;

    .control {
      display: inline-block;
      padding: 0.5em;
      margin: 0 0.5em 1em 0.5em;
      width: 4em;
      box-sizing: content-box;
    }

    .control:active {
      background-color: darken($color-bkgd, 10%);
      border: 1px solid $color-fore;
    }

    .control.disabled:active {
      background-color: lighten($color-warning, 40%);
      border: 1px solid $color-warning;
    }
  }
}
