number-dials {
  $text-fill: rgb(255, 251, 183);
  $text-stroke: rgb(226, 0, 47);
  $increment: rgba(0, 0, 0, 0.25);
  $increment-active: rgba(0, 0, 0, 0.75);
  $increment-disabled: $color-warning;
  $control-text: rgba(0, 0, 0, 0.40);
  $control-stroke: rgba(0, 0, 0, 0.00);
  $control-fill-active: rgba(0, 0, 0, 0.05);
  $control-stroke-active: rgba(0, 0, 0, 0.75);
  $control-text-disabled: $color-warning;
  $control-fill-disabled: lighten($color-warning, 40%);
  $control-stroke-disabled: $color-warning;

  .number-group {
    text-align: center;

  @media (orientation:portrait) {
    margin-top: calc(100% * 0.28);
  }

  @media (orientation:landscape) and (max-width:801px) {
    margin-top: calc(100% * 0.04);
  }

  @media (orientation:landscape) and (min-width:801px) {
    margin-top: calc(100% * 0.14);
  }

    .number-dial {
      display: inline-block;
      margin-top: calc(100% * 0.02);
      margin-left: 1em;
      margin-right: 1em;

      .number-unit {
        width: 48px;

        .increment, .decrement {
          text-align: center;
          color: $increment;
        }

        .increment:active, .decrement:active {
          color: $increment-active;
        }

        .increment.disabled:active, .decrement.disabled:active {
          color: $increment-disabled;
        }

        .value {
          text-align: center;
        }
      }

      .number-unit .value, .delimiter {
        font-family: 'ItimRegular';
        font-size: $font-size;
        color: $text-fill;
        text-shadow:
          -1px -1px 1px $text-stroke,
          -1px  1px 1px $text-stroke,
           1px -1px 1px $text-stroke,
           1px  1px 1px $text-stroke
      }

      .number-unit, .delimiter {
        display: inline-block;
      }

      .delimiter {
        position: relative;
        top: -0.50em;
        left: 0.25em
      }
    }
  }

  .controls-side {
    display: inline-block;
  }

  .control {
    position: relative;
    top: -$font-size * 0.6;
    display: inline-block;
    padding: 0.5em;
    width: 4em;
    box-sizing: content-box;
    color: $control-text;
    border: 1px solid $control-stroke;
  }

  .control:active {
    background-color: $control-fill-active;
    border: 1px solid $control-stroke-active;
  }

  .control.disabled:active {
    color: $control-text-disabled;
    background-color: $control-fill-disabled;
    border: 1px solid $control-stroke-disabled;
  }
}
