page-home {
  ion-content {
    text-align: center;

    .welcome {
      margin-top: 1.5em;
    }

    .mode-button {
      padding: 0.7em;
      margin: 1em;
      font-size: 3em;
      border: 1px solid $color-fore;
      border-radius: 0.5em;
    }

    .mode-button:active {
      background-color: darken($color-bkgd, 10%);
    }
  }
}
