page-home {
  ion-content {
    background-image: url(../assets/image/435248959.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .mode-button {
      padding: 0.7em;
      margin: 1em;
      border: 3px solid $color-fore;
      border-radius: 0.5em;
    }

    .mode-button.number {
      font-family: 'ItimRegular';
      font-size: 3em;
      letter-spacing: 0.10em;
    }

    .mode-button.clock {
      font-family: 'ItimRegular';
      font-size: 3em;
      letter-spacing: 0.10em;
    }

    .mode-button:active {
      background-color: rgba(255, 255, 255, 0.60);
    }
  }
}
