page-home {
  $text-fill: rgb(255, 203, 33);
  $text-stroke: rgb(232, 0, 101);
  $button-fill: rgba(255, 255, 255, 0.25);
  $button-fill-active: rgba(255, 255, 255, 0.55);
  $button-stroke: rgb(66, 68, 70);

  ion-content {
    background-image: url(../assets/image/435248959.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .mode-button {
      padding: 0.5em;
      border: 3px solid $button-stroke;
      border-radius: 0.5em;
      background-color: $button-fill;
      font-family: 'ItimRegular';
      font-size: 3em;
      color: $text-fill;
      text-shadow:
        -1px -1px 1px $text-stroke,
        -1px  1px 1px $text-stroke,
         1px -1px 1px $text-stroke,
         1px  1px 1px $text-stroke
    }

    .mode-button.number {
      margin-top: 1em;
      letter-spacing: 0.10em;
    }

    .mode-button.clock {
      margin-top: 0.5em;
      letter-spacing: 0.12em;
    }

    .mode-button:active {
      background-color: $button-fill-active;
    }
  }
}
