clock-dials {
  $text-fill: rgb(255, 223, 0);
  $text-stroke: rgb(203, 0, 70);
  $increment: rgba(36, 183, 244, 0.5);
  $increment-active: rgba(36, 183, 244, 1.0);

  .clock-group {
    position: relative;
    text-align: center;

  @media (orientation: portrait) and (min-height: 568px) {
    top: $font-size;
  }

  @media (orientation: portrait) and (min-height: 732px) {
    top: calc(7.5em);
  }

    .clock-dial {
      display: inline-block;

      .value {
        text-align: center;
        font-family: 'ItimRegular';
        font-size: $font-size;
        color: $text-fill;
        text-shadow:
          -1px -1px 1px $text-stroke,
          -1px  1px 1px $text-stroke,
           1px -1px 1px $text-stroke,
           1px  1px 1px $text-stroke;
      }

      .value.hours {
        display: inline-block;
        text-align: center;
        width: calc(110px + 0.25em);
        letter-spacing: 0.25em;
        padding-left: 0.25em;
      }

      .value.minutes {
        width: 1em;
      }

      .clock-unit, .clock-colon {
        display: inline-block;
      }

      .clock-colon {
        position: relative;
        top: -0.85em; // calc(-1em + 8px);
        left: -0.25em;
      }

      .increment, .decrement {
        text-align: center;
        line-height: $font-size;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 4px;

        color: $increment;
        text-shadow:
          -1px -1px 0px white,
          -1px  1px 0px white,
           1px -1px 0px white,
           1px  1px 0px white;
      }

      .increment:active, .decrement:active {
        color: $increment-active;
        border: 1px solid $increment-active;
      }
    }
  }
}
