<div class='clock-group'>
  <div class='clock-dial' *ngFor='let dial of model.dials.reverse(); let idx = index' (swipeup)='increment(idx)' (swipedown)='decrement(idx)'>
    <div class='clock-unit'>
      <div class='increment' (click)='increment(idx)' tappable>
        <span class='fa fa-chevron-up'></span>
      </div>
      <div class='value' [ngClass]="{ 'hours': idx == 0, 'minutes': idx > 0 }" > {{ dial.value }}</div>
      <div class='decrement' (click)='decrement(idx)' tappable>
        <span class='fa fa-chevron-down'></span>
      </div>
    </div>
    <div class='clock-colon value' *ngIf='idx == 0'>:</div>
  </div>
</div>
